page-map {
  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
 
  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }
 
  .scroll {
      height: 100%;
  }
 
  #map {
      width: 95%;
      height: 82%;
      margin: 2.5%;
      align-content: center;
      text-align: center;
      
  }

  .backgroundImg{
    background-image: url('../../assets/images/BaseBackground.jpg');
    background-size: cover;
    background-position: center !important;
    }

    .toolbar-title {
    color: #fff;
    }

    .back-button-icon-md,
    .back-button-icon-ios,
    .back-button-text-ios,
    .back-button-icon-wp {
    color: #fff;
    }

    button{
        width: 95%;
    }

}
